@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,900);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);
* {
  transition: all 0.25s ease-in;
}
*:focus {
  outline: none;
}
body {
  background: #fafafa;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
}
a {
  color: #757575;
}
a,
a:hover {
  text-decoration: none !important;
}
.clear {
  clear: both;
}
button,
.button {
  display: inline-block;
  font-size: 17px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-right: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  will-change: opacity, transform;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
button:hover,
.button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
button.subtle,
.button.subtle,
button .subtle,
.button .subtle {
  font-weight: 300;
}
button.subtle,
.button.subtle,
button .subtle,
.button .subtle,
button.subtle:hover,
.button.subtle:hover,
button .subtle:hover,
.button .subtle:hover {
  box-shadow: none;
}
button.primary-action,
.button.primary-action,
button .primary-action,
.button .primary-action {
  font-weight: 700;
}
.contain {
  max-width: 1240px;
  margin: 0 auto;
}
.contain-tight {
  max-width: 1140px;
  margin: 0 auto;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
hr {
  border: none;
  border-top: 2px solid #eee;
  margin: 20px 0;
}
#application {
  padding-top: 50px;
}
.light {
  background: #f7f7f7;
}
.ultra_light {
  background: #fcfcfc;
}
/* header.less */
header {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
}
header .header-inner {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}
header .header-inner .header-left a,
header .header-inner .header-right a,
header .header-inner .header-left input,
header .header-inner .header-right input,
header .header-inner .header-left button,
header .header-inner .header-right button {
  display: inline-block;
  font-size: 17px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-right: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  will-change: opacity, transform;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin-top: 30px;
}
header .header-inner .header-left a:hover,
header .header-inner .header-right a:hover,
header .header-inner .header-left input:hover,
header .header-inner .header-right input:hover,
header .header-inner .header-left button:hover,
header .header-inner .header-right button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header .header-inner .header-left a.subtle,
header .header-inner .header-right a.subtle,
header .header-inner .header-left input.subtle,
header .header-inner .header-right input.subtle,
header .header-inner .header-left button.subtle,
header .header-inner .header-right button.subtle,
header .header-inner .header-left a .subtle,
header .header-inner .header-right a .subtle,
header .header-inner .header-left input .subtle,
header .header-inner .header-right input .subtle,
header .header-inner .header-left button .subtle,
header .header-inner .header-right button .subtle {
  font-weight: 300;
}
header .header-inner .header-left a.subtle,
header .header-inner .header-right a.subtle,
header .header-inner .header-left input.subtle,
header .header-inner .header-right input.subtle,
header .header-inner .header-left button.subtle,
header .header-inner .header-right button.subtle,
header .header-inner .header-left a .subtle,
header .header-inner .header-right a .subtle,
header .header-inner .header-left input .subtle,
header .header-inner .header-right input .subtle,
header .header-inner .header-left button .subtle,
header .header-inner .header-right button .subtle,
header .header-inner .header-left a.subtle:hover,
header .header-inner .header-right a.subtle:hover,
header .header-inner .header-left input.subtle:hover,
header .header-inner .header-right input.subtle:hover,
header .header-inner .header-left button.subtle:hover,
header .header-inner .header-right button.subtle:hover,
header .header-inner .header-left a .subtle:hover,
header .header-inner .header-right a .subtle:hover,
header .header-inner .header-left input .subtle:hover,
header .header-inner .header-right input .subtle:hover,
header .header-inner .header-left button .subtle:hover,
header .header-inner .header-right button .subtle:hover {
  box-shadow: none;
}
header .header-inner .header-left a.primary-action,
header .header-inner .header-right a.primary-action,
header .header-inner .header-left input.primary-action,
header .header-inner .header-right input.primary-action,
header .header-inner .header-left button.primary-action,
header .header-inner .header-right button.primary-action,
header .header-inner .header-left a .primary-action,
header .header-inner .header-right a .primary-action,
header .header-inner .header-left input .primary-action,
header .header-inner .header-right input .primary-action,
header .header-inner .header-left button .primary-action,
header .header-inner .header-right button .primary-action {
  font-weight: 700;
}
header .header-inner .header-left a {
  font-weight: 300;
}
header .header-inner .header-left a,
header .header-inner .header-left a:hover {
  box-shadow: none;
}
@media (max-width: 991px) {
  header .header-inner .header-right {
    width: 100%;
    padding: 0;
  }
  header .header-inner .header-right a,
  header .header-inner .header-right button {
    text-align: center;
    display: block;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
  }
  header .header-inner .header-left a {
    display: block;
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
  }
}
header .header-inner .header-right {
  float: right;
  text-align: right;
}
header .header-inner .header-right a.button,
header .header-inner .header-right input.primary-action,
header .header-inner .header-right button.primary-action {
  font-weight: 700;
}
header .header-inner .header-right span {
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  padding: 2px 10px;
}
header .header-inner h2 {
  margin: 0;
  padding: 25px 0;
  display: block;
  font-size: 42px;
  text-align: center;
  font-weight: 700;
}
#content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 50px;
  background: #fff;
  min-height: 75vh;
}
@media screen and (max-width: 400px) {
  #content {
    padding: 30px 25px;
  }
}
#content a {
  text-decoration: underline;
}
#content h1 {
  font-size: 35px;
  font-weight: 900;
  margin: 10px 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #f0f0f0;
}
#content h2 {
  font-size: 22px;
  font-weight: 900;
  color: #757575;
  margin: 30px 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #f7f7f7;
}
#content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #8f8f8f;
  margin-top: 20px;
  margin-bottom: 15px;
}
#content p,
#content ul,
#content ol {
  font-size: 16px;
  line-height: 1.6;
  color: #757575;
}
#content code {
  color: #696969;
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  padding: 3px;
  font-size: 14px;
}
#content pre code {
  font-size: 15px;
  display: block;
  padding: 10px;
  overflow: auto;
}
#content #secondary-nav h3 {
  display: block;
  background: #f7f7f7;
  text-transform: uppercase;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  font-weight: 700;
  margin: 8px 0;
}
#content #secondary-nav h3 a {
  color: #575757;
  text-decoration: none !important;
}
#content #secondary-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#content #secondary-nav ul ul {
  margin-left: 16px;
}
#content #secondary-nav ul li a {
  display: block;
  padding: 5px 1px;
  padding-top: 6px;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  color: #575757;
  text-decoration: none !important;
}
#content .toolbox {
  background: #fcfcfc;
  color: #575757;
}
#content .toolbox h3 {
  display: block;
  background: #f7f7f7;
  text-transform: uppercase;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  font-weight: 700;
  margin: 8px 0;
}
#content .toolbox h3 a {
  color: #575757;
}
#content .toolbox .form-divider {
  margin: 10px;
  height: 1px;
  background: #dedede;
}
#content #sidebar {
  margin: 0;
  padding: 0;
}
#content #sidebar h2,
#content #sidebar h3 {
  font-size: 1em;
  margin: 15px 0;
  text-align: center;
}
#content #sidebar ul,
#content #sidebar ol,
#content #sidebar p {
  font-size: 0.9em;
}
#content #sidebar h2,
#content #sidebar h3,
#content #sidebar ul,
#content #sidebar ol,
#content #sidebar p {
  color: #9b9b9b;
}
#content #sidebar ul {
  padding-left: 15px;
}
#content #sidebar .sidebar-card {
  background: #fcfcfc;
  box-shadow: 0 1px 2px #eaeaea;
  padding: 1px 15px;
  margin-bottom: 25px;
}
#content table {
  font-size: 15px;
  border: 1px solid #f7f7f7;
}
#content table tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
#content table thead th {
  padding: 10px;
}
#content table td {
  padding: 10px;
  color: #9b9b9b;
  text-align: left;
}
.footer-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 245;
}
.footer-toolbar .footer-toolbar-inner {
  max-width: 1240px;
  margin: 0 auto;
}
.footer-toolbar .footer-toolbar-inner .footer-toolbar-action-buttons .primary-action,
.footer-toolbar .footer-toolbar-inner .footer-toolbar-action-buttons .secondary-action {
  font-weight: 700;
}
.footer-toolbar .footer-toolbar-inner .footer-toolbar-info {
  color: #9b9b9b;
  font-size: 13px;
  padding-top: 10px;
}
#methone-header {
  background: red !important;
}
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
select.form-control {
  border: 1px solid #f7f7f7;
  border-radius: 0 !important;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  color: #696969;
}
.input-group-addon {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f7f7f7;
  border-radius: 0 !important;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.form-input-group label {
  font-size: 14px;
}
.form-input-group label span {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}
.ds-primary-input {
  width: 100%;
  font-size: 25px;
  padding: 4px 7px;
}
.ds-secondary-input {
  background: #fcfcfc;
  box-shadow: none !important;
  color: #999 !important;
  font-size: 18px;
  padding: 2px 7px;
  margin-bottom: 10px;
  width: 100%;
}
.notice {
  box-shadow: 0 1px 2px #eee;
  padding: 10px;
  margin-bottom: 10px;
}
.checkbox {
  max-width: 100%;
  height: 20px;
  position: relative;
  margin: 10px 0 -2px;
}
.checkbox label {
  position: absolute;
  left: 10px;
  top: 0;
}
.checkbox label:before {
  content: '';
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: -12px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 11px;
  height: 6px;
  background: transparent;
  top: 8px;
  left: -7px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transition: .1s;
  transform: rotate(-45deg);
}
.checkbox label:hover:after {
  opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.checkbox input[type=checkbox]:disabled + label:before {
  background: #eee;
}
.checkbox input[type=checkbox]:checked:disabled + label:before {
  background: #666;
}
.checkbox input[type=checkbox] {
  visibility: hidden;
}
.amber .lighten-5 {
  background: #fff8e1;
}
.amber .lighten-4 {
  background: #ffecb3;
}
.amber .lighten-3 {
  background: #ffe082;
}
.amber .lighten-2 {
  background: #ffd54f;
}
.amber .lighten-1 {
  background: #ffca28;
}
.amber .theme-color {
  background: #ffc107;
}
.amber .darken-1 {
  background: #ffb300;
}
.amber .darken-2 {
  background: #ffa000;
}
.amber .darken-3 {
  background: #ff8f00;
}
.amber .darken-4 {
  background: #ff6f00;
}
.amber .text-lighten-5 {
  color: #fff8e1;
}
.amber .text-lighten-4 {
  color: #ffecb3;
}
.amber .text-lighten-3 {
  color: #ffe082;
}
.amber .text-lighten-2 {
  color: #ffd54f;
}
.amber .text-lighten-1 {
  color: #ffca28;
}
.amber .text-theme-color {
  color: #ffc107;
}
.amber .text-darken-1 {
  color: #ffb300;
}
.amber .text-darken-2 {
  color: #ffa000;
}
.amber .text-darken-3 {
  color: #ff8f00;
}
.amber .text-darken-4 {
  color: #ff6f00;
}
.amber .btn-color {
  color: #333;
}
.amber header {
  background: #ffca28;
}
.amber header a {
  color: #333;
}
.amber header .primary-action {
  background: #ffb300;
  color: #333;
}
.amber header h2 {
  color: #333;
}
.amber header .header-right span {
  color: #fff8e1;
}
@media (max-width: 991px) {
  .amber header .header-left {
    background: #ffc107;
  }
}
.amber .button.theme-color:hover {
  background: #ffd54f !important;
}
.amber #secondary-nav .text-theme-color {
  color: #ffc107 !important;
  font-weight: bold;
}
.amber #content h1 {
  color: #ffc107;
}
.amber #content a {
  color: #ffc107;
}
.amber #content p a,
.amber #content ul a,
.amber #content li a {
  color: #ffc107;
  text-decoration: underline !important;
}
.amber #content table thead {
  color: #ffc107;
  background: #333;
}
.amber .footer-toolbar .primary-action {
  background: #ffb300;
  color: #333;
}
.amber .footer-toolbar .secondary-action {
  background: #ffecb3;
  color: #ffb300;
}
.amber #methone-container-replace::shadow #methone_header {
  background: #ffb300;
}
.amber .checkbox input[type=checkbox]:checked + label {
  color: #ffc107;
}
.amber .checkbox input[type=checkbox]:checked + label:before {
  background: #ffc107;
}
.blue .lighten-5 {
  background: #e3f2fd;
}
.blue .lighten-4 {
  background: #bbdefb;
}
.blue .lighten-3 {
  background: #90caf9;
}
.blue .lighten-2 {
  background: #64b5f6;
}
.blue .lighten-1 {
  background: #42a5f5;
}
.blue .theme-color {
  background: #2196f3;
}
.blue .darken-1 {
  background: #1e88e5;
}
.blue .darken-2 {
  background: #1976d2;
}
.blue .darken-3 {
  background: #1565c0;
}
.blue .darken-4 {
  background: #0d47a1;
}
.blue .text-lighten-5 {
  color: #e3f2fd;
}
.blue .text-lighten-4 {
  color: #bbdefb;
}
.blue .text-lighten-3 {
  color: #90caf9;
}
.blue .text-lighten-2 {
  color: #64b5f6;
}
.blue .text-lighten-1 {
  color: #42a5f5;
}
.blue .text-theme-color {
  color: #2196f3;
}
.blue .text-darken-1 {
  color: #1e88e5;
}
.blue .text-darken-2 {
  color: #1976d2;
}
.blue .text-darken-3 {
  color: #1565c0;
}
.blue .text-darken-4 {
  color: #0d47a1;
}
.blue .btn-color {
  color: #fff;
}
.blue header {
  background: #42a5f5;
}
.blue header a {
  color: #fff;
}
.blue header .primary-action {
  background: #1e88e5;
  color: #fff;
}
.blue header h2 {
  color: #fff;
}
.blue header .header-right span {
  color: #e3f2fd;
}
@media (max-width: 991px) {
  .blue header .header-left {
    background: #2196f3;
  }
}
.blue .button.theme-color:hover {
  background: #64b5f6 !important;
}
.blue #secondary-nav .text-theme-color {
  color: #2196f3 !important;
  font-weight: bold;
}
.blue #content h1 {
  color: #2196f3;
}
.blue #content a {
  color: #2196f3;
}
.blue #content p a,
.blue #content ul a,
.blue #content li a {
  color: #2196f3;
  text-decoration: underline !important;
}
.blue #content table thead {
  color: #2196f3;
  background: #fff;
}
.blue .footer-toolbar .primary-action {
  background: #1e88e5;
  color: #fff;
}
.blue .footer-toolbar .secondary-action {
  background: #bbdefb;
  color: #1e88e5;
}
.blue #methone-container-replace::shadow #methone_header {
  background: #1e88e5;
}
.blue .checkbox input[type=checkbox]:checked + label {
  color: #2196f3;
}
.blue .checkbox input[type=checkbox]:checked + label:before {
  background: #2196f3;
}
.blue-grey .lighten-5 {
  background: #eceff1;
}
.blue-grey .lighten-4 {
  background: #cfd8dc;
}
.blue-grey .lighten-3 {
  background: #b0bec5;
}
.blue-grey .lighten-2 {
  background: #90a4ae;
}
.blue-grey .lighten-1 {
  background: #78909c;
}
.blue-grey .theme-color {
  background: #607d8b;
}
.blue-grey .darken-1 {
  background: #546e7a;
}
.blue-grey .darken-2 {
  background: #455a64;
}
.blue-grey .darken-3 {
  background: #37474f;
}
.blue-grey .darken-4 {
  background: #263238;
}
.blue-grey .text-lighten-5 {
  color: #eceff1;
}
.blue-grey .text-lighten-4 {
  color: #cfd8dc;
}
.blue-grey .text-lighten-3 {
  color: #b0bec5;
}
.blue-grey .text-lighten-2 {
  color: #90a4ae;
}
.blue-grey .text-lighten-1 {
  color: #78909c;
}
.blue-grey .text-theme-color {
  color: #607d8b;
}
.blue-grey .text-darken-1 {
  color: #546e7a;
}
.blue-grey .text-darken-2 {
  color: #455a64;
}
.blue-grey .text-darken-3 {
  color: #37474f;
}
.blue-grey .text-darken-4 {
  color: #263238;
}
.blue-grey .btn-color {
  color: #fff;
}
.blue-grey header {
  background: #78909c;
}
.blue-grey header a {
  color: #fff;
}
.blue-grey header .primary-action {
  background: #546e7a;
  color: #fff;
}
.blue-grey header h2 {
  color: #fff;
}
.blue-grey header .header-right span {
  color: #eceff1;
}
@media (max-width: 991px) {
  .blue-grey header .header-left {
    background: #607d8b;
  }
}
.blue-grey .button.theme-color:hover {
  background: #90a4ae !important;
}
.blue-grey #secondary-nav .text-theme-color {
  color: #607d8b !important;
  font-weight: bold;
}
.blue-grey #content h1 {
  color: #607d8b;
}
.blue-grey #content a {
  color: #607d8b;
}
.blue-grey #content p a,
.blue-grey #content ul a,
.blue-grey #content li a {
  color: #607d8b;
  text-decoration: underline !important;
}
.blue-grey #content table thead {
  color: #607d8b;
  background: #fff;
}
.blue-grey .footer-toolbar .primary-action {
  background: #546e7a;
  color: #fff;
}
.blue-grey .footer-toolbar .secondary-action {
  background: #cfd8dc;
  color: #546e7a;
}
.blue-grey #methone-container-replace::shadow #methone_header {
  background: #546e7a;
}
.blue-grey .checkbox input[type=checkbox]:checked + label {
  color: #607d8b;
}
.blue-grey .checkbox input[type=checkbox]:checked + label:before {
  background: #607d8b;
}
.cerise .lighten-5 {
  background: #eceff1;
}
.cerise .lighten-4 {
  background: #cfd8dc;
}
.cerise .lighten-3 {
  background: #b0bec5;
}
.cerise .lighten-2 {
  background: #90a4ae;
}
.cerise .lighten-1 {
  background: #ec5f99;
}
.cerise .theme-color {
  background: #e83d84;
}
.cerise .darken-1 {
  background: #ee2a7b;
}
.cerise .darken-2 {
  background: #455a64;
}
.cerise .darken-3 {
  background: #37474f;
}
.cerise .darken-4 {
  background: #263238;
}
.cerise .text-lighten-5 {
  color: #eceff1;
}
.cerise .text-lighten-4 {
  color: #cfd8dc;
}
.cerise .text-lighten-3 {
  color: #b0bec5;
}
.cerise .text-lighten-2 {
  color: #90a4ae;
}
.cerise .text-lighten-1 {
  color: #ec5f99;
}
.cerise .text-theme-color {
  color: #e83d84;
}
.cerise .text-darken-1 {
  color: #ee2a7b;
}
.cerise .text-darken-2 {
  color: #455a64;
}
.cerise .text-darken-3 {
  color: #37474f;
}
.cerise .text-darken-4 {
  color: #263238;
}
.cerise .btn-color {
  color: #fff;
}
.cerise header {
  background: #ec5f99;
}
.cerise header a {
  color: #fff;
}
.cerise header .primary-action {
  background: #ee2a7b;
  color: #fff;
}
.cerise header h2 {
  color: #fff;
}
.cerise header .header-right span {
  color: #eceff1;
}
@media (max-width: 991px) {
  .cerise header .header-left {
    background: #e83d84;
  }
}
.cerise .button.theme-color:hover {
  background: #90a4ae !important;
}
.cerise #secondary-nav .text-theme-color {
  color: #e83d84 !important;
  font-weight: bold;
}
.cerise #content h1 {
  color: #e83d84;
}
.cerise #content a {
  color: #e83d84;
}
.cerise #content p a,
.cerise #content ul a,
.cerise #content li a {
  color: #e83d84;
  text-decoration: underline !important;
}
.cerise #content table thead {
  color: #e83d84;
  background: #fff;
}
.cerise .footer-toolbar .primary-action {
  background: #ee2a7b;
  color: #fff;
}
.cerise .footer-toolbar .secondary-action {
  background: #cfd8dc;
  color: #ee2a7b;
}
.cerise #methone-container-replace::shadow #methone_header {
  background: #ee2a7b;
}
.cerise .checkbox input[type=checkbox]:checked + label {
  color: #e83d84;
}
.cerise .checkbox input[type=checkbox]:checked + label:before {
  background: #e83d84;
}
.cyan .lighten-5 {
  background: #e0f7fa;
}
.cyan .lighten-4 {
  background: #b2ebf2;
}
.cyan .lighten-3 {
  background: #80deea;
}
.cyan .lighten-2 {
  background: #4dd0e1;
}
.cyan .lighten-1 {
  background: #26c6da;
}
.cyan .theme-color {
  background: #00bcd4;
}
.cyan .darken-1 {
  background: #00acc1;
}
.cyan .darken-2 {
  background: #0097a7;
}
.cyan .darken-3 {
  background: #00838f;
}
.cyan .darken-4 {
  background: #006064;
}
.cyan .text-lighten-5 {
  color: #e0f7fa;
}
.cyan .text-lighten-4 {
  color: #b2ebf2;
}
.cyan .text-lighten-3 {
  color: #80deea;
}
.cyan .text-lighten-2 {
  color: #4dd0e1;
}
.cyan .text-lighten-1 {
  color: #26c6da;
}
.cyan .text-theme-color {
  color: #00bcd4;
}
.cyan .text-darken-1 {
  color: #00acc1;
}
.cyan .text-darken-2 {
  color: #0097a7;
}
.cyan .text-darken-3 {
  color: #00838f;
}
.cyan .text-darken-4 {
  color: #006064;
}
.cyan .btn-color {
  color: #fff;
}
.cyan header {
  background: #26c6da;
}
.cyan header a {
  color: #fff;
}
.cyan header .primary-action {
  background: #00acc1;
  color: #fff;
}
.cyan header h2 {
  color: #fff;
}
.cyan header .header-right span {
  color: #e0f7fa;
}
@media (max-width: 991px) {
  .cyan header .header-left {
    background: #00bcd4;
  }
}
.cyan .button.theme-color:hover {
  background: #4dd0e1 !important;
}
.cyan #secondary-nav .text-theme-color {
  color: #00bcd4 !important;
  font-weight: bold;
}
.cyan #content h1 {
  color: #00bcd4;
}
.cyan #content a {
  color: #00bcd4;
}
.cyan #content p a,
.cyan #content ul a,
.cyan #content li a {
  color: #00bcd4;
  text-decoration: underline !important;
}
.cyan #content table thead {
  color: #00bcd4;
  background: #fff;
}
.cyan .footer-toolbar .primary-action {
  background: #00acc1;
  color: #fff;
}
.cyan .footer-toolbar .secondary-action {
  background: #b2ebf2;
  color: #00acc1;
}
.cyan #methone-container-replace::shadow #methone_header {
  background: #00acc1;
}
.cyan .checkbox input[type=checkbox]:checked + label {
  color: #00bcd4;
}
.cyan .checkbox input[type=checkbox]:checked + label:before {
  background: #00bcd4;
}
.dark-blue .lighten-5 {
  background: #42a5f5;
}
.dark-blue .lighten-4 {
  background: #2196f3;
}
.dark-blue .lighten-3 {
  background: #1e88e5;
}
.dark-blue .lighten-2 {
  background: #1976d2;
}
.dark-blue .lighten-1 {
  background: #1565c0;
}
.dark-blue .theme-color {
  background: #07d;
}
.dark-blue .darken-1 {
  background: #004090;
}
.dark-blue .darken-2 {
  background: #003583;
}
.dark-blue .darken-3 {
  background: #003380;
}
.dark-blue .darken-4 {
  background: #002975;
}
.dark-blue .text-lighten-5 {
  color: #42a5f5;
}
.dark-blue .text-lighten-4 {
  color: #2196f3;
}
.dark-blue .text-lighten-3 {
  color: #1e88e5;
}
.dark-blue .text-lighten-2 {
  color: #1976d2;
}
.dark-blue .text-lighten-1 {
  color: #1565c0;
}
.dark-blue .text-theme-color {
  color: #07d;
}
.dark-blue .text-darken-1 {
  color: #004090;
}
.dark-blue .text-darken-2 {
  color: #003583;
}
.dark-blue .text-darken-3 {
  color: #003380;
}
.dark-blue .text-darken-4 {
  color: #002975;
}
.dark-blue .btn-color {
  color: #fff;
}
.dark-blue header {
  background: #1565c0;
}
.dark-blue header a {
  color: #fff;
}
.dark-blue header .primary-action {
  background: #004090;
  color: #fff;
}
.dark-blue header h2 {
  color: #fff;
}
.dark-blue header .header-right span {
  color: #42a5f5;
}
@media (max-width: 991px) {
  .dark-blue header .header-left {
    background: #07d;
  }
}
.dark-blue .button.theme-color:hover {
  background: #1976d2 !important;
}
.dark-blue #secondary-nav .text-theme-color {
  color: #07d !important;
  font-weight: bold;
}
.dark-blue #content h1 {
  color: #07d;
}
.dark-blue #content a {
  color: #07d;
}
.dark-blue #content p a,
.dark-blue #content ul a,
.dark-blue #content li a {
  color: #07d;
  text-decoration: underline !important;
}
.dark-blue #content table thead {
  color: #07d;
  background: #fff;
}
.dark-blue .footer-toolbar .primary-action {
  background: #004090;
  color: #fff;
}
.dark-blue .footer-toolbar .secondary-action {
  background: #2196f3;
  color: #004090;
}
.dark-blue #methone-container-replace::shadow #methone_header {
  background: #004090;
}
.dark-blue .checkbox input[type=checkbox]:checked + label {
  color: #07d;
}
.dark-blue .checkbox input[type=checkbox]:checked + label:before {
  background: #07d;
}
.deep-orange .lighten-5 {
  background: #fbe9e7;
}
.deep-orange .lighten-4 {
  background: #ffccbc;
}
.deep-orange .lighten-3 {
  background: #ffab91;
}
.deep-orange .lighten-2 {
  background: #ff8a65;
}
.deep-orange .lighten-1 {
  background: #ff7043;
}
.deep-orange .theme-color {
  background: #ff5722;
}
.deep-orange .darken-1 {
  background: #f4511e;
}
.deep-orange .darken-2 {
  background: #e64a19;
}
.deep-orange .darken-3 {
  background: #d84315;
}
.deep-orange .darken-4 {
  background: #bf360c;
}
.deep-orange .text-lighten-5 {
  color: #fbe9e7;
}
.deep-orange .text-lighten-4 {
  color: #ffccbc;
}
.deep-orange .text-lighten-3 {
  color: #ffab91;
}
.deep-orange .text-lighten-2 {
  color: #ff8a65;
}
.deep-orange .text-lighten-1 {
  color: #ff7043;
}
.deep-orange .text-theme-color {
  color: #ff5722;
}
.deep-orange .text-darken-1 {
  color: #f4511e;
}
.deep-orange .text-darken-2 {
  color: #e64a19;
}
.deep-orange .text-darken-3 {
  color: #d84315;
}
.deep-orange .text-darken-4 {
  color: #bf360c;
}
.deep-orange .btn-color {
  color: #fff;
}
.deep-orange header {
  background: #ff7043;
}
.deep-orange header a {
  color: #fff;
}
.deep-orange header .primary-action {
  background: #f4511e;
  color: #fff;
}
.deep-orange header h2 {
  color: #fff;
}
.deep-orange header .header-right span {
  color: #fbe9e7;
}
@media (max-width: 991px) {
  .deep-orange header .header-left {
    background: #ff5722;
  }
}
.deep-orange .button.theme-color:hover {
  background: #ff8a65 !important;
}
.deep-orange #secondary-nav .text-theme-color {
  color: #ff5722 !important;
  font-weight: bold;
}
.deep-orange #content h1 {
  color: #ff5722;
}
.deep-orange #content a {
  color: #ff5722;
}
.deep-orange #content p a,
.deep-orange #content ul a,
.deep-orange #content li a {
  color: #ff5722;
  text-decoration: underline !important;
}
.deep-orange #content table thead {
  color: #ff5722;
  background: #fff;
}
.deep-orange .footer-toolbar .primary-action {
  background: #f4511e;
  color: #fff;
}
.deep-orange .footer-toolbar .secondary-action {
  background: #ffccbc;
  color: #f4511e;
}
.deep-orange #methone-container-replace::shadow #methone_header {
  background: #f4511e;
}
.deep-orange .checkbox input[type=checkbox]:checked + label {
  color: #ff5722;
}
.deep-orange .checkbox input[type=checkbox]:checked + label:before {
  background: #ff5722;
}
.deep-purple .lighten-5 {
  background: #ede7f6;
}
.deep-purple .lighten-4 {
  background: #d1c4e9;
}
.deep-purple .lighten-3 {
  background: #b39ddb;
}
.deep-purple .lighten-2 {
  background: #9575cd;
}
.deep-purple .lighten-1 {
  background: #7e57c2;
}
.deep-purple .theme-color {
  background: #673ab7;
}
.deep-purple .darken-1 {
  background: #5e35b1;
}
.deep-purple .darken-2 {
  background: #512da8;
}
.deep-purple .darken-3 {
  background: #4527a0;
}
.deep-purple .darken-4 {
  background: #311b92;
}
.deep-purple .text-lighten-5 {
  color: #ede7f6;
}
.deep-purple .text-lighten-4 {
  color: #d1c4e9;
}
.deep-purple .text-lighten-3 {
  color: #b39ddb;
}
.deep-purple .text-lighten-2 {
  color: #9575cd;
}
.deep-purple .text-lighten-1 {
  color: #7e57c2;
}
.deep-purple .text-theme-color {
  color: #673ab7;
}
.deep-purple .text-darken-1 {
  color: #5e35b1;
}
.deep-purple .text-darken-2 {
  color: #512da8;
}
.deep-purple .text-darken-3 {
  color: #4527a0;
}
.deep-purple .text-darken-4 {
  color: #311b92;
}
.deep-purple .btn-color {
  color: #fff;
}
.deep-purple header {
  background: #7e57c2;
}
.deep-purple header a {
  color: #fff;
}

.deep-purple #topbar {
  background: #7e57c2;
}

.deep-purple #topbar-links {
  background: #7e57c2;
}

.deep-purple #topbar-links a {
  color: #fff;
}
.deep-purple header .primary-action {
  background: #5e35b1;
  color: #fff;
}
.deep-purple header h2 {
  color: #fff;
}
.deep-purple header .header-right span {
  color: #ede7f6;
}
@media (max-width: 991px) {
  .deep-purple header .header-left {
    background: #673ab7;
  }
}
.deep-purple .button.theme-color:hover {
  background: #9575cd !important;
}
.deep-purple #secondary-nav .text-theme-color {
  color: #673ab7 !important;
  font-weight: bold;
}
.deep-purple #content h1 {
  color: #673ab7;
}
.deep-purple #content a {
  color: #673ab7;
}
.deep-purple #content p a,
.deep-purple #content ul a,
.deep-purple #content li a {
  color: #673ab7;
  text-decoration: underline !important;
}
.deep-purple #content table thead {
  color: #673ab7;
  background: #fff;
}
.deep-purple .footer-toolbar .primary-action {
  background: #5e35b1;
  color: #fff;
}
.deep-purple .footer-toolbar .secondary-action {
  background: #d1c4e9;
  color: #5e35b1;
}
.deep-purple #methone-container-replace::shadow #methone_header {
  background: #5e35b1;
}
.deep-purple .checkbox input[type=checkbox]:checked + label {
  color: #673ab7;
}
.deep-purple .checkbox input[type=checkbox]:checked + label:before {
  background: #673ab7;
}
.green .lighten-5 {
  background: #e8f5e9;
}
.green .lighten-4 {
  background: #c8e6c9;
}
.green .lighten-3 {
  background: #a5d6a7;
}
.green .lighten-2 {
  background: #81c784;
}
.green .lighten-1 {
  background: #66bb6a;
}
.green .theme-color {
  background: #4caf50;
}
.green .darken-1 {
  background: #43a047;
}
.green .darken-2 {
  background: #388e3c;
}
.green .darken-3 {
  background: #2e7d32;
}
.green .darken-4 {
  background: #1b5e20;
}
.green .text-lighten-5 {
  color: #e8f5e9;
}
.green .text-lighten-4 {
  color: #c8e6c9;
}
.green .text-lighten-3 {
  color: #a5d6a7;
}
.green .text-lighten-2 {
  color: #81c784;
}
.green .text-lighten-1 {
  color: #66bb6a;
}
.green .text-theme-color {
  color: #4caf50;
}
.green .text-darken-1 {
  color: #43a047;
}
.green .text-darken-2 {
  color: #388e3c;
}
.green .text-darken-3 {
  color: #2e7d32;
}
.green .text-darken-4 {
  color: #1b5e20;
}
.green .btn-color {
  color: #fff;
}
.green header {
  background: #66bb6a;
}
.green header a {
  color: #fff;
}
.green header .primary-action {
  background: #43a047;
  color: #fff;
}
.green header h2 {
  color: #fff;
}
.green header .header-right span {
  color: #e8f5e9;
}
@media (max-width: 991px) {
  .green header .header-left {
    background: #4caf50;
  }
}
.green .button.theme-color:hover {
  background: #81c784 !important;
}
.green #secondary-nav .text-theme-color {
  color: #4caf50 !important;
  font-weight: bold;
}
.green #content h1 {
  color: #4caf50;
}
.green #content a {
  color: #4caf50;
}
.green #content p a,
.green #content ul a,
.green #content li a {
  color: #4caf50;
  text-decoration: underline !important;
}
.green #content table thead {
  color: #4caf50;
  background: #fff;
}
.green .footer-toolbar .primary-action {
  background: #43a047;
  color: #fff;
}
.green .footer-toolbar .secondary-action {
  background: #c8e6c9;
  color: #43a047;
}
.green #methone-container-replace::shadow #methone_header {
  background: #43a047;
}
.green .checkbox input[type=checkbox]:checked + label {
  color: #4caf50;
}
.green .checkbox input[type=checkbox]:checked + label:before {
  background: #4caf50;
}
.indigo .lighten-5 {
  background: #e8eaf6;
}
.indigo .lighten-4 {
  background: #c5cae9;
}
.indigo .lighten-3 {
  background: #9fa8da;
}
.indigo .lighten-2 {
  background: #7986cb;
}
.indigo .lighten-1 {
  background: #5c6bc0;
}
.indigo .theme-color {
  background: #3f51b5;
}
.indigo .darken-1 {
  background: #3949ab;
}
.indigo .darken-2 {
  background: #303f9f;
}
.indigo .darken-3 {
  background: #283593;
}
.indigo .darken-4 {
  background: #1a237e;
}
.indigo .text-lighten-5 {
  color: #e8eaf6;
}
.indigo .text-lighten-4 {
  color: #c5cae9;
}
.indigo .text-lighten-3 {
  color: #9fa8da;
}
.indigo .text-lighten-2 {
  color: #7986cb;
}
.indigo .text-lighten-1 {
  color: #5c6bc0;
}
.indigo .text-theme-color {
  color: #3f51b5;
}
.indigo .text-darken-1 {
  color: #3949ab;
}
.indigo .text-darken-2 {
  color: #303f9f;
}
.indigo .text-darken-3 {
  color: #283593;
}
.indigo .text-darken-4 {
  color: #1a237e;
}
.indigo .btn-color {
  color: #fff;
}
.indigo header {
  background: #5c6bc0;
}
.indigo header a {
  color: #fff;
}
.indigo header .primary-action {
  background: #3949ab;
  color: #fff;
}
.indigo header h2 {
  color: #fff;
}
.indigo header .header-right span {
  color: #e8eaf6;
}
@media (max-width: 991px) {
  .indigo header .header-left {
    background: #3f51b5;
  }
}
.indigo .button.theme-color:hover {
  background: #7986cb !important;
}
.indigo #secondary-nav .text-theme-color {
  color: #3f51b5 !important;
  font-weight: bold;
}
.indigo #content h1 {
  color: #3f51b5;
}
.indigo #content a {
  color: #3f51b5;
}
.indigo #content p a,
.indigo #content ul a,
.indigo #content li a {
  color: #3f51b5;
  text-decoration: underline !important;
}
.indigo #content table thead {
  color: #3f51b5;
  background: #fff;
}
.indigo .footer-toolbar .primary-action {
  background: #3949ab;
  color: #fff;
}
.indigo .footer-toolbar .secondary-action {
  background: #c5cae9;
  color: #3949ab;
}
.indigo #methone-container-replace::shadow #methone_header {
  background: #3949ab;
}
.indigo .checkbox input[type=checkbox]:checked + label {
  color: #3f51b5;
}
.indigo .checkbox input[type=checkbox]:checked + label:before {
  background: #3f51b5;
}
.light-blue .lighten-5 {
  background: #e1f5fe;
}
.light-blue .lighten-4 {
  background: #b3e5fc;
}
.light-blue .lighten-3 {
  background: #81d4fa;
}
.light-blue .lighten-2 {
  background: #4fc3f7;
}
.light-blue .lighten-1 {
  background: #29b6f6;
}
.light-blue .theme-color {
  background: #03a9f4;
}
.light-blue .darken-1 {
  background: #039be5;
}
.light-blue .darken-2 {
  background: #0288d1;
}
.light-blue .darken-3 {
  background: #0277bd;
}
.light-blue .darken-4 {
  background: #01579b;
}
.light-blue .text-lighten-5 {
  color: #e1f5fe;
}
.light-blue .text-lighten-4 {
  color: #b3e5fc;
}
.light-blue .text-lighten-3 {
  color: #81d4fa;
}
.light-blue .text-lighten-2 {
  color: #4fc3f7;
}
.light-blue .text-lighten-1 {
  color: #29b6f6;
}
.light-blue .text-theme-color {
  color: #03a9f4;
}
.light-blue .text-darken-1 {
  color: #039be5;
}
.light-blue .text-darken-2 {
  color: #0288d1;
}
.light-blue .text-darken-3 {
  color: #0277bd;
}
.light-blue .text-darken-4 {
  color: #01579b;
}
.light-blue .btn-color {
  color: #fff;
}
.light-blue header {
  background: #29b6f6;
}
.light-blue header a {
  color: #fff;
}
.light-blue header .primary-action {
  background: #039be5;
  color: #fff;
}
.light-blue header h2 {
  color: #fff;
}
.light-blue header .header-right span {
  color: #e1f5fe;
}
@media (max-width: 991px) {
  .light-blue header .header-left {
    background: #03a9f4;
  }
}
.light-blue .button.theme-color:hover {
  background: #4fc3f7 !important;
}
.light-blue #secondary-nav .text-theme-color {
  color: #03a9f4 !important;
  font-weight: bold;
}
.light-blue #content h1 {
  color: #03a9f4;
}
.light-blue #content a {
  color: #03a9f4;
}
.light-blue #content p a,
.light-blue #content ul a,
.light-blue #content li a {
  color: #03a9f4;
  text-decoration: underline !important;
}
.light-blue #content table thead {
  color: #03a9f4;
  background: #fff;
}
.light-blue .footer-toolbar .primary-action {
  background: #039be5;
  color: #fff;
}
.light-blue .footer-toolbar .secondary-action {
  background: #b3e5fc;
  color: #039be5;
}
.light-blue #methone-container-replace::shadow #methone_header {
  background: #039be5;
}
.light-blue .checkbox input[type=checkbox]:checked + label {
  color: #03a9f4;
}
.light-blue .checkbox input[type=checkbox]:checked + label:before {
  background: #03a9f4;
}
.light-green .lighten-5 {
  background: #f1f8e9;
}
.light-green .lighten-4 {
  background: #dcedc8;
}
.light-green .lighten-3 {
  background: #c5e1a5;
}
.light-green .lighten-2 {
  background: #aed581;
}
.light-green .lighten-1 {
  background: #9ccc65;
}
.light-green .theme-color {
  background: #8bc34a;
}
.light-green .darken-1 {
  background: #7cb342;
}
.light-green .darken-2 {
  background: #689f38;
}
.light-green .darken-3 {
  background: #558b2f;
}
.light-green .darken-4 {
  background: #33691e;
}
.light-green .text-lighten-5 {
  color: #f1f8e9;
}
.light-green .text-lighten-4 {
  color: #dcedc8;
}
.light-green .text-lighten-3 {
  color: #c5e1a5;
}
.light-green .text-lighten-2 {
  color: #aed581;
}
.light-green .text-lighten-1 {
  color: #9ccc65;
}
.light-green .text-theme-color {
  color: #8bc34a;
}
.light-green .text-darken-1 {
  color: #7cb342;
}
.light-green .text-darken-2 {
  color: #689f38;
}
.light-green .text-darken-3 {
  color: #558b2f;
}
.light-green .text-darken-4 {
  color: #33691e;
}
.light-green .btn-color {
  color: #fff;
}
.light-green header {
  background: #9ccc65;
}
.light-green header a {
  color: #fff;
}
.light-green header .primary-action {
  background: #7cb342;
  color: #fff;
}
.light-green header h2 {
  color: #fff;
}
.light-green header .header-right span {
  color: #f1f8e9;
}
@media (max-width: 991px) {
  .light-green header .header-left {
    background: #8bc34a;
  }
}
.light-green .button.theme-color:hover {
  background: #aed581 !important;
}
.light-green #secondary-nav .text-theme-color {
  color: #8bc34a !important;
  font-weight: bold;
}
.light-green #content h1 {
  color: #8bc34a;
}
.light-green #content a {
  color: #8bc34a;
}
.light-green #content p a,
.light-green #content ul a,
.light-green #content li a {
  color: #8bc34a;
  text-decoration: underline !important;
}
.light-green #content table thead {
  color: #8bc34a;
  background: #fff;
}
.light-green .footer-toolbar .primary-action {
  background: #7cb342;
  color: #fff;
}
.light-green .footer-toolbar .secondary-action {
  background: #dcedc8;
  color: #7cb342;
}
.light-green #methone-container-replace::shadow #methone_header {
  background: #7cb342;
}
.light-green .checkbox input[type=checkbox]:checked + label {
  color: #8bc34a;
}
.light-green .checkbox input[type=checkbox]:checked + label:before {
  background: #8bc34a;
}
.lime .lighten-5 {
  background: #f9fbe7;
}
.lime .lighten-4 {
  background: #f0f4c3;
}
.lime .lighten-3 {
  background: #e6ee9c;
}
.lime .lighten-2 {
  background: #dce775;
}
.lime .lighten-1 {
  background: #d4e157;
}
.lime .theme-color {
  background: #cddc39;
}
.lime .darken-1 {
  background: #c0ca33;
}
.lime .darken-2 {
  background: #afb42b;
}
.lime .darken-3 {
  background: #9e9d24;
}
.lime .darken-4 {
  background: #827717;
}
.lime .text-lighten-5 {
  color: #f9fbe7;
}
.lime .text-lighten-4 {
  color: #f0f4c3;
}
.lime .text-lighten-3 {
  color: #e6ee9c;
}
.lime .text-lighten-2 {
  color: #dce775;
}
.lime .text-lighten-1 {
  color: #d4e157;
}
.lime .text-theme-color {
  color: #cddc39;
}
.lime .text-darken-1 {
  color: #c0ca33;
}
.lime .text-darken-2 {
  color: #afb42b;
}
.lime .text-darken-3 {
  color: #9e9d24;
}
.lime .text-darken-4 {
  color: #827717;
}
.lime .btn-color {
  color: #212121;
}
.lime header {
  background: #d4e157;
}
.lime header a {
  color: #212121;
}
.lime header .primary-action {
  background: #c0ca33;
  color: #212121;
}
.lime header h2 {
  color: #212121;
}
.lime header .header-right span {
  color: #f9fbe7;
}
@media (max-width: 991px) {
  .lime header .header-left {
    background: #cddc39;
  }
}
.lime .button.theme-color:hover {
  background: #dce775 !important;
}
.lime #secondary-nav .text-theme-color {
  color: #cddc39 !important;
  font-weight: bold;
}
.lime #content h1 {
  color: #cddc39;
}
.lime #content a {
  color: #cddc39;
}
.lime #content p a,
.lime #content ul a,
.lime #content li a {
  color: #cddc39;
  text-decoration: underline !important;
}
.lime #content table thead {
  color: #cddc39;
  background: #212121;
}
.lime .footer-toolbar .primary-action {
  background: #c0ca33;
  color: #212121;
}
.lime .footer-toolbar .secondary-action {
  background: #f0f4c3;
  color: #c0ca33;
}
.lime #methone-container-replace::shadow #methone_header {
  background: #c0ca33;
}
.lime .checkbox input[type=checkbox]:checked + label {
  color: #cddc39;
}
.lime .checkbox input[type=checkbox]:checked + label:before {
  background: #cddc39;
}
.money-green .lighten-5 {
  background: #46c756;
}
.money-green .lighten-4 {
  background: #39bb49;
}
.money-green .lighten-3 {
  background: #33a741;
}
.money-green .lighten-2 {
  background: #2d9339;
}
.money-green .lighten-1 {
  background: #278032;
}
.money-green .theme-color {
  background: #216C2A;
}
.money-green .darken-1 {
  background: #1b5822;
}
.money-green .darken-2 {
  background: #15451b;
}
.money-green .darken-3 {
  background: #0f3113;
}
.money-green .darken-4 {
  background: #091d0b;
}
.money-green .text-lighten-5 {
  color: #46c756;
}
.money-green .text-lighten-4 {
  color: #39bb49;
}
.money-green .text-lighten-3 {
  color: #33a741;
}
.money-green .text-lighten-2 {
  color: #2d9339;
}
.money-green .text-lighten-1 {
  color: #278032;
}
.money-green .text-theme-color {
  color: #216C2A;
}
.money-green .text-darken-1 {
  color: #1b5822;
}
.money-green .text-darken-2 {
  color: #15451b;
}
.money-green .text-darken-3 {
  color: #0f3113;
}
.money-green .text-darken-4 {
  color: #091d0b;
}
.money-green .btn-color {
  color: #fff;
}
.money-green header {
  background: #278032;
}
.money-green header a {
  color: #fff;
}
.money-green header .primary-action {
  background: #1b5822;
  color: #fff;
}
.money-green header h2 {
  color: #fff;
}
.money-green header .header-right span {
  color: #46c756;
}
@media (max-width: 991px) {
  .money-green header .header-left {
    background: #216C2A;
  }
}
.money-green .button.theme-color:hover {
  background: #2d9339 !important;
}
.money-green #secondary-nav .text-theme-color {
  color: #216C2A !important;
  font-weight: bold;
}
.money-green #content h1 {
  color: #216C2A;
}
.money-green #content a {
  color: #216C2A;
}
.money-green #content p a,
.money-green #content ul a,
.money-green #content li a {
  color: #216C2A;
  text-decoration: underline !important;
}
.money-green #content table thead {
  color: #216C2A;
  background: #fff;
}
.money-green .footer-toolbar .primary-action {
  background: #1b5822;
  color: #fff;
}
.money-green .footer-toolbar .secondary-action {
  background: #39bb49;
  color: #1b5822;
}
.money-green #methone-container-replace::shadow #methone_header {
  background: #1b5822;
}
.money-green .checkbox input[type=checkbox]:checked + label {
  color: #216C2A;
}
.money-green .checkbox input[type=checkbox]:checked + label:before {
  background: #216C2A;
}
.orange .lighten-5 {
  background: #fff3e0;
}
.orange .lighten-4 {
  background: #ffe0b2;
}
.orange .lighten-3 {
  background: #ffcc80;
}
.orange .lighten-2 {
  background: #ffb74d;
}
.orange .lighten-1 {
  background: #ffa726;
}
.orange .theme-color {
  background: #ff9800;
}
.orange .darken-1 {
  background: #fb8c00;
}
.orange .darken-2 {
  background: #f57c00;
}
.orange .darken-3 {
  background: #ef6c00;
}
.orange .darken-4 {
  background: #e65100;
}
.orange .text-lighten-5 {
  color: #fff3e0;
}
.orange .text-lighten-4 {
  color: #ffe0b2;
}
.orange .text-lighten-3 {
  color: #ffcc80;
}
.orange .text-lighten-2 {
  color: #ffb74d;
}
.orange .text-lighten-1 {
  color: #ffa726;
}
.orange .text-theme-color {
  color: #ff9800;
}
.orange .text-darken-1 {
  color: #fb8c00;
}
.orange .text-darken-2 {
  color: #f57c00;
}
.orange .text-darken-3 {
  color: #ef6c00;
}
.orange .text-darken-4 {
  color: #e65100;
}
.orange .btn-color {
  color: #fff;
}
.orange header {
  background: #ffa726;
}
.orange header a {
  color: #fff;
}
.orange header .primary-action {
  background: #fb8c00;
  color: #fff;
}
.orange header h2 {
  color: #fff;
}
.orange header .header-right span {
  color: #fff3e0;
}
@media (max-width: 991px) {
  .orange header .header-left {
    background: #ff9800;
  }
}
.orange .button.theme-color:hover {
  background: #ffb74d !important;
}
.orange #secondary-nav .text-theme-color {
  color: #ff9800 !important;
  font-weight: bold;
}
.orange #content h1 {
  color: #ff9800;
}
.orange #content a {
  color: #ff9800;
}
.orange #content p a,
.orange #content ul a,
.orange #content li a {
  color: #ff9800;
  text-decoration: underline !important;
}
.orange #content table thead {
  color: #ff9800;
  background: #fff;
}
.orange .footer-toolbar .primary-action {
  background: #fb8c00;
  color: #fff;
}
.orange .footer-toolbar .secondary-action {
  background: #ffe0b2;
  color: #fb8c00;
}
.orange #methone-container-replace::shadow #methone_header {
  background: #fb8c00;
}
.orange .checkbox input[type=checkbox]:checked + label {
  color: #ff9800;
}
.orange .checkbox input[type=checkbox]:checked + label:before {
  background: #ff9800;
}
.pink .lighten-5 {
  background: #fce4ec;
}
.pink .lighten-4 {
  background: #f8bbd0;
}
.pink .lighten-3 {
  background: #f48fb1;
}
.pink .lighten-2 {
  background: #f06292;
}
.pink .lighten-1 {
  background: #ec407a;
}
.pink .theme-color {
  background: #e91e63;
}
.pink .darken-1 {
  background: #d81b60;
}
.pink .darken-2 {
  background: #c2185b;
}
.pink .darken-3 {
  background: #ad1457;
}
.pink .darken-4 {
  background: #880e4f;
}
.pink .text-lighten-5 {
  color: #fce4ec;
}
.pink .text-lighten-4 {
  color: #f8bbd0;
}
.pink .text-lighten-3 {
  color: #f48fb1;
}
.pink .text-lighten-2 {
  color: #f06292;
}
.pink .text-lighten-1 {
  color: #ec407a;
}
.pink .text-theme-color {
  color: #e91e63;
}
.pink .text-darken-1 {
  color: #d81b60;
}
.pink .text-darken-2 {
  color: #c2185b;
}
.pink .text-darken-3 {
  color: #ad1457;
}
.pink .text-darken-4 {
  color: #880e4f;
}
.pink .btn-color {
  color: #fff;
}
.pink header {
  background: #ec407a;
}
.pink header a {
  color: #fff;
}
.pink header .primary-action {
  background: #d81b60;
  color: #fff;
}
.pink header h2 {
  color: #fff;
}
.pink header .header-right span {
  color: #fce4ec;
}
@media (max-width: 991px) {
  .pink header .header-left {
    background: #e91e63;
  }
}
.pink .button.theme-color:hover {
  background: #f06292 !important;
}
.pink #secondary-nav .text-theme-color {
  color: #e91e63 !important;
  font-weight: bold;
}
.pink #content h1 {
  color: #e91e63;
}
.pink #content a {
  color: #e91e63;
}
.pink #content p a,
.pink #content ul a,
.pink #content li a {
  color: #e91e63;
  text-decoration: underline !important;
}
.pink #content table thead {
  color: #e91e63;
  background: #fff;
}
.pink .footer-toolbar .primary-action {
  background: #d81b60;
  color: #fff;
}
.pink .footer-toolbar .secondary-action {
  background: #f8bbd0;
  color: #d81b60;
}
.pink #methone-container-replace::shadow #methone_header {
  background: #d81b60;
}
.pink .checkbox input[type=checkbox]:checked + label {
  color: #e91e63;
}
.pink .checkbox input[type=checkbox]:checked + label:before {
  background: #e91e63;
}
.purple .lighten-5 {
  background: #f3e5f5;
}
.purple .lighten-4 {
  background: #e1bee7;
}
.purple .lighten-3 {
  background: #ce93d8;
}
.purple .lighten-2 {
  background: #ba68c8;
}
.purple .lighten-1 {
  background: #ab47bc;
}
.purple .theme-color {
  background: #9c27b0;
}
.purple .darken-1 {
  background: #8e24aa;
}
.purple .darken-2 {
  background: #7b1fa2;
}
.purple .darken-3 {
  background: #6a1b9a;
}
.purple .darken-4 {
  background: #4a148c;
}
.purple .text-lighten-5 {
  color: #f3e5f5;
}
.purple .text-lighten-4 {
  color: #e1bee7;
}
.purple .text-lighten-3 {
  color: #ce93d8;
}
.purple .text-lighten-2 {
  color: #ba68c8;
}
.purple .text-lighten-1 {
  color: #ab47bc;
}
.purple .text-theme-color {
  color: #9c27b0;
}
.purple .text-darken-1 {
  color: #8e24aa;
}
.purple .text-darken-2 {
  color: #7b1fa2;
}
.purple .text-darken-3 {
  color: #6a1b9a;
}
.purple .text-darken-4 {
  color: #4a148c;
}
.purple .btn-color {
  color: #fff;
}
.purple header {
  background: #ab47bc;
}
.purple header a {
  color: #fff;
}
.purple header .primary-action {
  background: #8e24aa;
  color: #fff;
}
.purple header h2 {
  color: #fff;
}
.purple header .header-right span {
  color: #f3e5f5;
}
@media (max-width: 991px) {
  .purple header .header-left {
    background: #9c27b0;
  }
}
.purple .button.theme-color:hover {
  background: #ba68c8 !important;
}
.purple #secondary-nav .text-theme-color {
  color: #9c27b0 !important;
  font-weight: bold;
}
.purple #content h1 {
  color: #9c27b0;
}
.purple #content a {
  color: #9c27b0;
}
.purple #content p a,
.purple #content ul a,
.purple #content li a {
  color: #9c27b0;
  text-decoration: underline !important;
}
.purple #content table thead {
  color: #9c27b0;
  background: #fff;
}
.purple .footer-toolbar .primary-action {
  background: #8e24aa;
  color: #fff;
}
.purple .footer-toolbar .secondary-action {
  background: #e1bee7;
  color: #8e24aa;
}
.purple #methone-container-replace::shadow #methone_header {
  background: #8e24aa;
}
.purple .checkbox input[type=checkbox]:checked + label {
  color: #9c27b0;
}
.purple .checkbox input[type=checkbox]:checked + label:before {
  background: #9c27b0;
}
.red .lighten-5 {
  background: #ffebee;
}
.red .lighten-4 {
  background: #ffcdd2;
}
.red .lighten-3 {
  background: #ef9a9a;
}
.red .lighten-2 {
  background: #e57373;
}
.red .lighten-1 {
  background: #ef5350;
}
.red .theme-color {
  background: #f44336;
}
.red .darken-1 {
  background: #e53935;
}
.red .darken-2 {
  background: #d32f2f;
}
.red .darken-3 {
  background: #c62828;
}
.red .darken-4 {
  background: #b71c1c;
}
.red .text-lighten-5 {
  color: #ffebee;
}
.red .text-lighten-4 {
  color: #ffcdd2;
}
.red .text-lighten-3 {
  color: #ef9a9a;
}
.red .text-lighten-2 {
  color: #e57373;
}
.red .text-lighten-1 {
  color: #ef5350;
}
.red .text-theme-color {
  color: #f44336;
}
.red .text-darken-1 {
  color: #e53935;
}
.red .text-darken-2 {
  color: #d32f2f;
}
.red .text-darken-3 {
  color: #c62828;
}
.red .text-darken-4 {
  color: #b71c1c;
}
.red .btn-color {
  color: #fff;
}
.red header {
  background: #ef5350;
}
.red header a {
  color: #fff;
}
.red header .primary-action {
  background: #e53935;
  color: #fff;
}
.red header h2 {
  color: #fff;
}
.red header .header-right span {
  color: #ffebee;
}
@media (max-width: 991px) {
  .red header .header-left {
    background: #f44336;
  }
}
.red .button.theme-color:hover {
  background: #e57373 !important;
}
.red #secondary-nav .text-theme-color {
  color: #f44336 !important;
  font-weight: bold;
}
.red #content h1 {
  color: #f44336;
}
.red #content a {
  color: #f44336;
}
.red #content p a,
.red #content ul a,
.red #content li a {
  color: #f44336;
  text-decoration: underline !important;
}
.red #content table thead {
  color: #f44336;
  background: #fff;
}
.red .footer-toolbar .primary-action {
  background: #e53935;
  color: #fff;
}
.red .footer-toolbar .secondary-action {
  background: #ffcdd2;
  color: #e53935;
}
.red #methone-container-replace::shadow #methone_header {
  background: #e53935;
}
.red .checkbox input[type=checkbox]:checked + label {
  color: #f44336;
}
.red .checkbox input[type=checkbox]:checked + label:before {
  background: #f44336;
}
.teal .lighten-5 {
  background: #e0f2f1;
}
.teal .lighten-4 {
  background: #b2dfdb;
}
.teal .lighten-3 {
  background: #80cbc4;
}
.teal .lighten-2 {
  background: #4db6ac;
}
.teal .lighten-1 {
  background: #26a69a;
}
.teal .theme-color {
  background: #009688;
}
.teal .darken-1 {
  background: #00897b;
}
.teal .darken-2 {
  background: #00796b;
}
.teal .darken-3 {
  background: #00695c;
}
.teal .darken-4 {
  background: #004d40;
}
.teal .text-lighten-5 {
  color: #e0f2f1;
}
.teal .text-lighten-4 {
  color: #b2dfdb;
}
.teal .text-lighten-3 {
  color: #80cbc4;
}
.teal .text-lighten-2 {
  color: #4db6ac;
}
.teal .text-lighten-1 {
  color: #26a69a;
}
.teal .text-theme-color {
  color: #009688;
}
.teal .text-darken-1 {
  color: #00897b;
}
.teal .text-darken-2 {
  color: #00796b;
}
.teal .text-darken-3 {
  color: #00695c;
}
.teal .text-darken-4 {
  color: #004d40;
}
.teal .btn-color {
  color: #fff;
}
.teal header {
  background: #26a69a;
}
.teal header a {
  color: #fff;
}
.teal header .primary-action {
  background: #00897b;
  color: #fff;
}
.teal header h2 {
  color: #fff;
}
.teal header .header-right span {
  color: #e0f2f1;
}
@media (max-width: 991px) {
  .teal header .header-left {
    background: #009688;
  }
}
.teal .button.theme-color:hover {
  background: #4db6ac !important;
}
.teal #secondary-nav .text-theme-color {
  color: #009688 !important;
  font-weight: bold;
}
.teal #content h1 {
  color: #009688;
}
.teal #content a {
  color: #009688;
}
.teal #content p a,
.teal #content ul a,
.teal #content li a {
  color: #009688;
  text-decoration: underline !important;
}
.teal #content table thead {
  color: #009688;
  background: #fff;
}
.teal .footer-toolbar .primary-action {
  background: #00897b;
  color: #fff;
}
.teal .footer-toolbar .secondary-action {
  background: #b2dfdb;
  color: #00897b;
}
.teal #methone-container-replace::shadow #methone_header {
  background: #00897b;
}
.teal .checkbox input[type=checkbox]:checked + label {
  color: #009688;
}
.teal .checkbox input[type=checkbox]:checked + label:before {
  background: #009688;
}
.yellow .lighten-5 {
  background: #fffde7;
}
.yellow .lighten-4 {
  background: #fff9c4;
}
.yellow .lighten-3 {
  background: #fff59d;
}
.yellow .lighten-2 {
  background: #fff176;
}
.yellow .lighten-1 {
  background: #ffee58;
}
.yellow .theme-color {
  background: #ffeb3b;
}
.yellow .darken-1 {
  background: #fdd835;
}
.yellow .darken-2 {
  background: #fbc02d;
}
.yellow .darken-3 {
  background: #f9a825;
}
.yellow .darken-4 {
  background: #f57f17;
}
.yellow .text-lighten-5 {
  color: #fffde7;
}
.yellow .text-lighten-4 {
  color: #fff9c4;
}
.yellow .text-lighten-3 {
  color: #fff59d;
}
.yellow .text-lighten-2 {
  color: #fff176;
}
.yellow .text-lighten-1 {
  color: #ffee58;
}
.yellow .text-theme-color {
  color: #ffeb3b;
}
.yellow .text-darken-1 {
  color: #fdd835;
}
.yellow .text-darken-2 {
  color: #fbc02d;
}
.yellow .text-darken-3 {
  color: #f9a825;
}
.yellow .text-darken-4 {
  color: #f57f17;
}
.yellow .btn-color {
  color: #212121;
}
.yellow header {
  background: #ffee58;
}
.yellow header a {
  color: #212121;
}
.yellow header .primary-action {
  background: #fdd835;
  color: #212121;
}
.yellow header h2 {
  color: #212121;
}
.yellow header .header-right span {
  color: #fffde7;
}
@media (max-width: 991px) {
  .yellow header .header-left {
    background: #ffeb3b;
  }
}
.yellow .button.theme-color:hover {
  background: #fff176 !important;
}
.yellow #secondary-nav .text-theme-color {
  color: #ffeb3b !important;
  font-weight: bold;
}
.yellow #content h1 {
  color: #ffeb3b;
}
.yellow #content a {
  color: #ffeb3b;
}
.yellow #content p a,
.yellow #content ul a,
.yellow #content li a {
  color: #ffeb3b;
  text-decoration: underline !important;
}
.yellow #content table thead {
  color: #ffeb3b;
  background: #212121;
}
.yellow .footer-toolbar .primary-action {
  background: #fdd835;
  color: #212121;
}
.yellow .footer-toolbar .secondary-action {
  background: #fff9c4;
  color: #fdd835;
}
.yellow #methone-container-replace::shadow #methone_header {
  background: #fdd835;
}
.yellow .checkbox input[type=checkbox]:checked + label {
  color: #ffeb3b;
}
.yellow .checkbox input[type=checkbox]:checked + label:before {
  background: #ffeb3b;
}
